body {
	background-image: url(bkgd.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	
}

#heading {
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 20px;
	text-align: center;
	font-family: Georgia;
	font-weigth: bold;
	font-size: 1.5em;
}

#heading h1 {
	font-size: 2em;
}

li {
	font-size: 18px;
	font-family: Verdana, serif;
	font-style: normal;
}

#form-wrapper {
	
	max-width : 750px;
	margin: 0 auto;
	
	background-color: rosybrown;
	
	border-radius: 5%;
	
	font-family: Ubuntu;
	font-size: 22px;
	
	
	box-shadow: 6px 3px 5px rgba(0, 0, 0, 0.5);
	
	display: flex;
	
}

#form-wrapper > img {
	
	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

#thinkerBox {
	position: fixed;
	flex:1;
	/*background-image: url("thinker.png");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;*/
}

#thinkerBox > img {
	max-width: 350px;
	position: absolute;
	left: 380px;
	
}

form {
	
	padding: 50px;
	
}


.form-row {
	margin-bottom: 15px;
	max-width: 300px;
	display: flex;
	flex-flow: column;
}

label {
	
}



.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #c4a4a1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #c4a4a1;
	box-shadow:inset 0px 1px 0px 0px #c4a4a1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fc8d83), color-stop(1, #e4685d));
	background:-moz-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-webkit-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-o-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:-ms-linear-gradient(top, #fc8d83 5%, #e4685d 100%);
	background:linear-gradient(to bottom, #fc8d83 5%, #e4685d 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fc8d83', endColorstr='#e4685d',GradientType=0);
	background-color:#fc8d83;
	-moz-border-radius:15px;
	-webkit-border-radius:15px;
	border-radius:15px;
	border:1px solid #d83526;
	display:inline-block;
	cursor:pointer;
	color:#fafafa;
	font-family:Verdana;
	font-size:14px;
	padding:8px 18px;
	text-decoration:none;
	text-shadow:0px 3px 3px #b23e35;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #e4685d), color-stop(1, #fc8d83));
	background:-moz-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-webkit-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-o-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:-ms-linear-gradient(top, #e4685d 5%, #fc8d83 100%);
	background:linear-gradient(to bottom, #e4685d 5%, #fc8d83 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#e4685d', endColorstr='#fc8d83',GradientType=0);
	background-color:#e4685d;
}
.myButton:active {
	position:relative;
	top:1px;
}





@media (min-width: 500px) {
	.first3 {
		flex-flow: row;
	}
	
	input {
		flex:1;
	}
	
	.first3 > label {
		margin-right: 7px;
	}



	
}



